{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Cadastro produtos {% endblock %}

{% block main %}
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>

      <div class="col-sm">
          <div class="jumbotron">
                <form method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                 {{ form|bootstrap }}
                <input type="submit" value="Save">
                </form>
          </div>
      </div>

      <div class="col-sm">
      </div>

      </div>
    </div>

{% endblock %}